* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
#editor, #preview {
    flex: 1;
    overflow-y: auto;
}
#editor {
    border-right: 1px solid #ccc;
}
#preview {
    padding: 20px;
    background-color: #f9f9f9;
    text-align: start;
}
.CodeMirror {
    height: 100%;
}